/target

# Compiled executables
/arrays
/beginner_greeting
/beginner_squares
/engine
/fibonacci
/fizzbuzz
/functions
/hello
/loops
/math
/operators
/strings
/test_remainder
/variables
examples/binaries/*
!examples/binaries/.gitkeep
*.o
